<div class="container-fluid">
    <div style="text-align:center">
        <h1>Available Events</h1>
    </div>
    <div class="row my-5">
        <div class="input-group col-6 col-md-3">
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="state.searchText">
            <div class="input-group-btn">
                <button class="btn btn-primary" (click)="filter()">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <div class="input-group col-6 col-md-3">
            <select class="custom-select" [(ngModel)]="state.searchFilter">
                <option value="countryCode">Country code</option>
                <option value="city">City</option>
                <option value="id">Id</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let event of state.events" class="card col-6 col-md-3 col-lg-2">
            <app-event-item [event]="event" (eventClicked)="goToDetails($event)"></app-event-item>
        </div>
    </div>

    <div class="row mx-2 my-5">
        <div class="input-group col-3 col-md-2 col-xl-1">
            <select class="custom-select" (change)="changePageSize()" [(ngModel)]="state.currentPageSize">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>

        <nav class="col-9 col-md-10 col-xl-11">
            <div class="btn-group" role="group">
                <button class="btn btn-primary" [disabled]="state.page.number == 0" (click)="getFirstPage()">First
                </button>
                <button class="btn btn-primary" [disabled]="state.page.number == 0" (click)="getPreviousPage()">Previous
                </button>
                <button class="btn btn-primary" [disabled]="state.page.number == selectablePage - 1"
                        *ngFor="let selectablePage of state.selectablePages | limitTo: state.maxPage"
                        (click)="getPage(selectablePage - 1)">{{selectablePage}}
                </button>
                <button class="btn btn-primary"
                        [disabled]="state.maxPage === 0 || state.page.number == state.maxPage - 1"
                        (click)="getNextPage()">Next
                </button>
                <button class="btn btn-primary"
                        [disabled]="state.maxPage === 0 || state.page.number == state.maxPage - 1"
                        (click)="getLastPage()">Last
                </button>
            </div>
        </nav>
    </div>

</div>
